*,
*::before,
*::after {
  font-family: Inter, system-ui;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.header {
  border-bottom: 1px solid #eaeaea;
}

.header__logo {
  width: 40px;
  height: 40px;
}

.header__title {
  margin: 0;
}

.header__text {
  margin: 0;
  color: #9d9d9d;
}

.search__block {
  border-radius: 10px;
  padding: 15px;
  border: 2px solid #e4e4e4;
}

.search__input {
  margin-left: 13px;
  border: none;
  font-size: 16px;
  outline: 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.green__btn {
  width: 100%;
  height: 55px;
  padding: 18px;
  margin-top: 40px;
  background-color: #9dd558;
  border-radius: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;

  transition: background-color 0.2s ease-in-out;
}

.green__btn:hover {
  background-color: darken($color: #9dd558, $amount: 10%);
}

.cart__total .green__btn {
  position: relative;
}

.cart__total .green__btn:hover .green__btn_icon {
  transform: translateX(5px);
}

.cart__total .green__btn_icon {
  position: absolute;
  right: 30px;
  top: 20px;
  transition: transform 0.15s ease-in-out;
}
